@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Mochiy+Pop+One&family=Open+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

    html {
        scroll-behavior: smooth;
        height: 1000px;
       
        
    }


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    background-color: rgba(0, 0, 0, 0.767);
    position: fixed;
    z-index: 999;
}
.logo {
    font-size: 25px;
    font-weight: 700;
    color: #3be69f;
    
}
.logo span {
    font-size: 40px;
    font-weight: 900;
    color: #007bff;
   
   
}
.logo:hover {
    color: #3be69f;
    text-decoration: none;

}

header .navigation a {
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
     transition: 0.8s;
     text-decoration: none;

}
header .navigation a:hover {
    color: #3be69f;
}
header .navigation .active{
    color: #3be69f ;
    position: relative;
    transition: 0.8s ease;

}
header .navigation .active:hover {
    color: #007bff;
    width: 100%;
    transition: 0.8s ;
}
section {
    padding: 100px 200px;

}
.main {
    background: url(11.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position:center center ;
        width: 100%;
        min-height: 100vh;
        display: inline-block;
        align-items: center;
}
.main p {
    
    font-size: 15px;
    font-weight: 600;
    color: #007bff;
    margin-top: 30px;
}
.main h2 {
    font-size: 29px;
    font-weight: 800;
    color: #3be69f;
    margin-top: 30px;
}
.main .btn{

    font-size: 20px;
    font-weight: 800;
    color: #3be69f; 
    margin-top: 30px;
}

.about {
    display: inline;
}

.about h1 {
margin: 0;
display: flex;
justify-content: center;
align-items: center;
color: #007bff;
font-weight: 600;
}
.cont{
    display: flex;
justify-content: space-between;
align-items: center;
padding: 50px ;
 background-color: rgba(138, 138, 138, 0.096);

}
.cont .imgs {

    width: 370px;
    height: 400px;
    border: 8px solid #77777754;
}
.cont p {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}


.container {
width: 100%;
    padding: 0;
}
.container h1 {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bff;
    font-weight: 900;
    padding: 100px 200px ;
}
.container .card {
    /* display: inline-block; */
    
     /* padding: auto; */
    margin: 10px 20px; 
}
.container .cards {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(138, 138, 138, 0.096);
    width: 100%;
    
}
.container .cards p {
    font-size: 18px;
    font-weight: 600;
    color: #000000c4;
    margin-top: 30px;
}
.container .cards .bt {
    background-color: #3be69f;
    color: #000000;
    font-size: 13px;
    font-weight: 900;
}

.container .cards .card-title {
    color: #3be69f;
    font-size: 25px;
    font-weight: 600;

}

.forms .calls {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bff;
    font-weight: 900;
    padding: 100px 200px ;
}

.social-icons a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
}



















@media (max-width:1023px){
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Mochiy+Pop+One&family=Open+Sans:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

    html {
        scroll-behavior: smooth;
        
       
        
    }


header {
    width: 500px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 200px;
    background-color: rgba(0, 0, 0, 0.767);
    position: fixed;
    z-index: 999;
    transform: translate(-100px);
}
.logo {
    font-size: 25px;
    font-weight: 700;
    color: #3be69f;
    
}
.logo span {
    font-size: 40px;
    font-weight: 900;
    color: #007bff;
   
   
}
.logo:hover {
    color: #3be69f;
    text-decoration: none;

}

header .navigation a {
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
     transition: 0.8s;
     text-decoration: none;

}
header .navigation a:hover {
    color: #3be69f;
}
header .navigation .active{
    color: #3be69f ;
    position: relative;
    transition: 0.8s ease;

}
header .navigation .active:hover {
    color: #007bff;
    width: 100%;
    transition: 0.8s ;
}

.main {
    background: url(11.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position:center center ;
        width: 100%;
        min-height: 100vh;
        display: inline-block;
        align-items: center;
}
.main p {
    width: 400px;
    font-size: 12px;
    font-weight: 600;
    color: #007bff;

    transform: translate(-140px , 20px);
}
.main h2 {
    width: 400px;
    font-size: 29px;
    font-weight: 800;
    color: #3be69f;
    margin-top: 30px;
    transform: translate(-140px , 20px);
}
.main .btn{

    font-size: 20px;
    font-weight: 800;
    color: #3be69f; 
    margin-top: 30px;
    transform: translate(-140px , 20px);
}

.about {
    display: inline;
}

.about h1 {
margin: 0;
display: flex;
justify-content: center;
align-items: center;
color: #007bff;
font-weight: 600;
}
.cont{
    display: flex;
justify-content: space-between;
align-items: center;
padding: 50px ;
 background-color: rgba(138, 138, 138, 0.096);

}
.cont .imgs {

    width: 100px;
    height: 200px;
    border: 8px solid #77777754;
}
.cont p {
    display: block;
    font-size: 10px;
    font-weight: 500;
    margin-top: 15px;
    transform: translate(50px);
}


.container {
width: 100%;
    padding: 0;
}
.container h1 {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bff;
    font-weight: 900;
    padding: 100px 200px ;
}
.container .card {
    
    width: 270px !important;
}
.container .cards {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(138, 138, 138, 0.096);
    width: 100%;
    
}
.container .cards p {
    font-size: 18px;
    font-weight: 600;
    color: #000000c4;
    margin-top: 30px;
}
.container .cards .bt {
    background-color: #3be69f;
    color: #000000;
    font-size: 13px;
    font-weight: 900;
    
}

.container .cards .card-title {
    color: #3be69f;
    font-size: 25px;
    font-weight: 600;

}
.forms {
    transform: translate(-150px);
}
.forms input {
    width: 200px;
}

.forms option {
    width: 200px;
}
.forms .calls {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bff;
    font-weight: 900;
    padding: 10px 200px ;
    transform: translate(-150px);
    
}

.social-icons a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 800;
    margin-left: 20px;
}


}